/* Table of contents \
 * Stylesheet for Screened Devices
 * Created by: Jose Aquino
 1. Imports
 2. General Rules
 3. Mobile Rules 
 4. Large Screen Rules 
*****************************************************************************************************/

/*1.1 Normalize Import */
@import url('normalize.css');

/* 1.2 Google Font Imports */
@import url('https://fonts.googleapis.com/css?family=Sansita&display=swap');

/* 2. General Rules */
html {
    box-sizing: border-box;
}
body {
    font-family: helvetica, sans-serif, verdana;
    font-size: 20px;
    width:100%;
 
}
nav {
    margin-top: 15px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: Sansita, Eurostyle, sans-serif;
}
*, *:before, *:after{
    box-sizing: inherit;
    padding: initial;
}
.tile {
    background-color: rgba(200.200.200..6);
    border: 1px solid;
    border-radius: 15px;
    text-align: center;
    margin: 5px;
}
span.first{
    color: red;
}
 span.second{
     color:blue;
}
#curWeather {
    background-image: url(/weather/images/rain.jpg);

}
.rain{
    width: 90%;
}


#page-header {
    background-color: skyblue;
    height: 50px;
    width: 100%;
}
#title{
    font-size:35px;
    font-weight: bold;
    vertical-align: inherit;
}
#logo{
    width:15%;
    height: 97%;
    vertical-align: text-bottom;
}

#locInfo ul li{
  
    display:inline-block;
    padding-left: 10px;
    border-right: solid;  
    font-size: 12px; 
    

}
#locInfo ul li:last-child {
    border-right:none;
 }
#hourly{
    border: 1px solid;
    border-radius:15px;
    background-color:lightgray;
    text-align: center;
}
#hourly p{
    max-width: 100%;   
    white-space: nowrap;
    overflow: auto;
}
footer{
    height: 95px;
    width: 100%;
    
}
.foot{
    background-color: skyblue;
    margin-top: 3px;
}
.navbar{
    overflow: hidden;
    background-color: skyblue;  
    width: 100%
}
nav ul li {
    display: block;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 0px 11px 10px 11px;
    text-decoration: none;
    font-size: 17px;
}
main {
    width:100%;
}

/* Large Screen Rules */

@media screen and (min-width: 801px){
    #curWeather{
      display: flex;  
      justify-content: space-evenly;
      height: 600px;
    }
    #title{
        font-size: 45px;
    }
    .tile{
        width: 33%;
    }
    main {
        height: 835px;
    }
    #logo {
        width: 5%;
    }
    #nav2 {
        display: none;
    }
    footer {
        height: 24px;
    }
    nav {
        margin-top: 0px;
    }
    .subtitle {
        margin-top: 30%;
    }
}
/*mobile rules*/
@media screen and (max-width:450px){
    #logo{
        width: 15%;
        height: 97%;
        vertical-align: text-bottom;
    }
    #title{
        font-size: 35px;
    }
    #locName{
        font-size:25px;
    }
    footer{
        height:183px;
    }
    .navbar{
        height:145px;
        display:none;
    }
    #nav2{
        display: block;
    }
    nav ul li {
    float: none;
    }
    .tile{
        margin: 0.2em 9px;
    }
    main {
        height: 1165px;
    }    
}

@media screen and (min-width:451px) and (max-width:800px){
    .rain{
        height: 429px;
        width: 90%;
    }
    main {
        height: 1300px;
    }

    #nav1 {
        display: none;
    }
}
